table {
    font-size: inherit;
}
.active-route.ui-state-default{
    background-color:lightgray;
}
.ui-droppable.ui-droppable-active.ui-droppable-hover{
    background-color:yellow;
}
.airplane_fullloaded{
    color:blue;
}
tr {
    padding: 0 0 0 0;
}
td {
    padding: 0 0 0 0;
}
table {
    border-collapse: collapse;
    text-indent: initial;
    border-spacing: 0px;
}
.ui-slider-handle.ui-corner-all.ui-state-default{
    position:absolute;
    top:-12px;
    left: 0%;
    width:10px;
    background-color: #59A1CA;
}
.airplanedialog>* {
    font-size: 10px;
}

.ui-dialog-title {
    font-size: 10px;
}

.ui-dialog-titlebar {
    height: 10px;
}
#edit-route{
      font-size: 12px;
}
#delete-route{
      font-size: 12px;
}

#route-list>li {
    list-style-type: none;
    /* Remove bullets */
    padding: 0;
    /* Remove padding */
    margin: 0;
}

#route-list {
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
}

.citydialog>* {
    font-size: 10px;
}

.routedialog>* {
    font-size: 10px;
}

.diagramdialog>* {
    font-size: 10px;
}