.RText{
    background: rgba(173, 216, 230, 0.5);
}
.ReportDesigner{
    font-family: Roboto;
    font-size: 12px;
    background-color: white;

}

.invisibleAfterSpan{
    display: none;
}
td > .RText{
    background-color: inherit
}

.InlineEditorPanel.tox.tox-tbtn {
    transform: scale(0.7)!important; /* you can set the scale that you want */
    height: unset!important;
    width: unset!important;
}
.InlineEditorPanel.tox.tox-tbtn--bespoke.tox-tbtn__select-label {
    width: unset!important;
}
.InlineEditorPanel.tox.tox-toolbar, .tox.tox-toolbar__overflow, .tox.tox-toolbar__primary {
    /* change the background y-positionning to : bottom 0*/
    background: url("data:image/svg+xml;charset=utf8,%3Csvg height='34px' viewBox='0 0 35 34px' width='35' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0' y='33px' width='100' height='1' fill='%23cccccc'/%3E%3C/svg%3E") left 0 bottom 0 #fff!important;

}
.InlineEditorPanel.tox.tox-toolbar__group{
    margin: 0px 0 0px 0;
    padding: 0 0px 0 0px;
    height: 25px;
}
.InlineEditorPanel.tox.tox-split-button {
    margin: 0px 0 0px 0;
}
.InlineEditorPanel.tox.tox-tbtn--select {
    margin: 0px 0 0px 0;
    padding: 0 0px;
}
.RImage {
    min-width:16px;
    min-height:16px;
    
}
